<div class="row" >
  <div class="col-lg-12">
    <h1>Projects
      <small>Current projects</small>
    </h1>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-folder-open"></i> Current projects </h3>
      </div>
      <div class="panel-body">

        <table class="table table-striped table-bordered table-condensed" ng-controller="ProjTableCtrl">
          <thead>
          <tr>
            <th data-field="id">Status</th>
            <th data-field="id">Trend</th>
            <th data-field="name">Project Name</th>
            <th colspan="3" data-field="name">Actions</th>
          </tr>
          </thead>
          <tbody ng-repeat="project in projects" data-link="row" class="rowlink">
          <tr >
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                <img ng-src="../../assets/images/{{project.lastBuilds[0]}}.png"/>
                </button>
              </a>
            </td>
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                 <img ng-src="../../assets/images/{{project.trend}}.png"/>
                </button>
              </a>
            </td>
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                {{project.project_name}}
                </button>
              </a>
            </td>
            <td>

                <button ng-show="{{project.lastBuilds[0]=='pending'}}?false:true" type="button" class="btn btn-link" ng-click="buildProject(project.id)">
                  <i class="fa fa-cog"></i>   Build
                </button>


                <button ng-show="{{project.lastBuilds[0]=='pending'}}?true:false" type="button" class="btn btn-link" ng-click="cancelBuilding(project.id)">
                  <i class="fa fa-cog"></i>   Cancel building
                </button>
              <div ng-show="{{project.lastBuilds[0]=='pending'}}?true:false" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                </div>
              </div>
            </td>
            <td>

              <a href={{baseUrl+"/project/"+project.id+"/"+project.project_name+"/edit"}}>
                <button type="button" class="btn btn-link">
                  <i class="fa fa-wrench"></i>   Configure
                </button>
              </a>
            </td>
            <td>
                <button type="button" class="btn btn-link" ng-click="removeProject(project.id)" >
                  <i class="fa fa-remove"></i>   Remove
                </button>
            </td>
          </tr>
          </tbody>


        </table>
      </div>
    </div>
  </div>
</div>
