<div class="row" ng-controller="ProjTableCtrl">
  <div class="col-lg-12">
    <h1>Projects
      <small>Current projects</small>
    </h1>
  </div>
  <div ng-class="isQEmpty() ? 'col-lg-12' : 'col-lg-10'">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-folder-open"></i> Current projects </h3>
      </div>
      <div class="panel-body">

        <table class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th data-field="id">Status</th>
            <th data-field="id">Trend</th>
            <th data-field="name">Project Name</th>
            <th colspan="3" data-field="name">Actions</th>
          </tr>
          </thead>
          <tbody ng-repeat="project in projects" data-link="row" class="rowlink">
          <tr >
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                <img ng-src="../../assets/images/{{project.lastBuilds[0]}}.png"/>
                </button>
              </a>
            </td>
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                 <img ng-src="../../assets/images/{{project.trend}}.png"/>
                </button>
              </a>
            </td>
            <td>
              <a style="display: block;" ng-href={{baseUrl+"/project/"+project.id+"/"+project.project_name}}>
                <button type="button" class="btn btn-link">
                {{project.project_name}}
                </button>
              </a>
            </td>
            <td>

                <button ng-show="!project.isPending" type="button" class="btn btn-link" ng-click="buildProject(project.id)">
                  <i class="fa fa-cog"></i>   Build
                </button>


                <button ng-show="project.isPending" type="button" class="btn btn-link" ng-click="cancelBuilding(project.id)">
                  <i class="fa fa-cog"></i>   Cancel building
                </button>
              <div ng-show="project.isPending" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                </div>
              </div>
            </td>
            <td>

              <a href={{baseUrl+"/project/"+project.id+"/"+project.project_name+"/edit"}}>
                <button type="button" class="btn btn-link">
                  <i class="fa fa-wrench"></i>   Configure
                </button>
              </a>
            </td>
            <td>
<!--                <button type="button" class="btn btn-link" ng-click="removeProject(dashboard.id)" >
                  <i class="fa fa-remove"></i>   Remove
                </button>-->
              <button confirm="Are you sure you want to delete this project?" confirm-func="removeProject({id:1})" id="1" confirm-placement="top" confirm-title="Are you sure?" class="btn btn-link">
                <i class="fa fa-remove"></i>   Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div class="col-lg-2" ng-hide="isQEmpty()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-sort"></i> Builds Queue</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th data-field="projectname">Builds in Queue</th>
          </tr>
          </thead>
          <tbody ng-repeat="proj in queue">
          <tr >
            <td>
              {{proj}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
