<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Build history - {{project_name}}</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed" ng-controller="BuildTableCtrl">
          <thead>
          <tr>
            <th data-field="id">Build ID</th>
            <th data-field="date">Build Date</th>
            <th data-field="date">Build Status</th>
            <th data-field="date">Build Result</th>
          </tr>
          </thead>
          <tbody ng-repeat="build in builds">
          <tr >
            <td>
              <a href={{baseUrl+"/build/"+build.id}}>
                {{build.id}}
              </a>
            </td>
            <td>
              {{build.build_date}}
            </td>
            <td>
              {{build.build_ispending == true ? "Pending" : "Finished"}}
            </td>
            <td>
              {{build.build_ispending == false ? (build.build_issuccess == true ? "Successful" : "Failed") : "..."}}
            </td>
          </tr>
          </tbody>


        </table>
      </div>
    </div>
  </div>
</div>

