<div class="row" ng-controller="newProjFormCtrl">
  <div class="col-lg-12">
    <h1>Projects
      <small>New project </small>
    </h1>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> New project </h3>
      </div>
      <div class="alert alert-dismissable alert-danger" ng-show="hasError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> {{message}}
      </div>
      <div class="alert alert-dismissable alert-success" ng-show="hasInfo">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> {{message}}
      </div>
      <div class="panel-body">
        <form ng-submit="createProject()">

          <div id="name-group" class="form-group">
            <label>Project name</label>
            <input type="text" name="name" class="form-control" placeholder="Your project name" ng-model="formData.project_name">
            <span class="help-block"></span>
          </div>

          <div id="url-group" class="form-group">
            <label>Repository URL</label>
            <input type="text" name="url" class="form-control" placeholder="e.g. https://subversion.assembla.com/svn/mp-svntest/" ng-model="formData.project_url">
            <span class="help-block"></span>
          </div>

          <div id="type-group" class="form-group">
            <label>Repository type</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosSVN" ng-model="formData.project_repo" value="svn" ng-init="formData.project_repo='svn'">
                SVN
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosGIT" ng-model="formData.project_repo" value="git">
                GIT
              </label>
            </div>
          </div>

          <div id="pattern-group" class="form-group">
            <label>Crone Pattern</label>
            <input type="text" name="pattern" class="form-control" placeholder="* * * * *" ng-model="formData.project_pattern" ng-init="formData.project_pattern='* * * * *'">
            <span class="help-block"></span>
          </div>

          <div id="script-group" class="form-group">

            <label>Build Scripts</label>
            <div ng-repeat="script in formData.scripts">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file"></i> Script #{{script.scriptId}}
                    <div class="scripts-buttons-wrapper">
                      <button id="buttonToggle" type="button" ng-click="toggleScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-search"></i>
                      </button>
                      <button id="buttonUp" type="button" ng-click="moveUpScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-up"></i>
                      </button>
                      <button id="buttonDown" type="button" ng-click="moveDownScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-down"></i>
                      </button>
                      <button id="buttonAdd" type="button" ng-click="addScript($index)" class="btn btn-success btn-sm">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button id="buttonRemove" type="button" ng-click="removeScript($index)" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </h3>
                </div>
                <div class="panel-body" ng-show="showScript($index)">
                  <label>Script code</label>
                  <textarea class="form-control" ng-model="script.scriptContent" rows="3" style="width: 507px; height: 149px;" >
                  </textarea>
                  <br>
                  <label>Output parser</label>
                  <div class="radio">
                    <label>
                      <input type="radio" id="optionsParser1" ng-model="script.parser" value="default" ng-init="script.parser='default'">
                      Default Parser
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" id="optionsParser2" ng-model="script.parser" value="junit">
                      JUnit Parser
                    </label>
                  </div>
                  <br>
                  <label>Output Path</label>
                  <input type="text" class="form-control" placeholder="" ng-model="script.outputPath">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <br>
            <button type="button" ng-click="addScript(formData.scripts.length)" class="btn btn-success">
              <i class="fa fa-plus"></i> Add script
            </button>
          </div>
          <br>
          <!-- SUBMIT BUTTON -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-upload"></span> Submit project!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
