<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
  <title>AgrippaCI Authentication</title>
  <link rel="stylesheet" href="app/app.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="app/bower_components/font-awesome/css/font-awesome.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Reset Password</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- REMINDER FORM -->
    <form action="/api/profile" method="post" >
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" required>
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Reset </button>
    </form>

    <hr>

    <p>
      <%
        var texts = [];
        texts[0] = "Maybe you've made a typo?";
        texts[1] = "It was CAPS LOCK, wasn't it?";
        texts[2] = "Have you tried 'password'?";
        texts[3] = "Maybe 'qwerty' would work?";
        texts[4] = "Oh! It must be '123456'!";
        var i = Math.floor(Math.random() * texts.length);

      %>
      <%=
        texts[i]
      %>
      <a href="/login">Login</a></p>
    <p>Need an account? <a href="/signup">Signup</a></p>

  </div>

</div>
</body>
</html>
