<div class="row" ng-controller="editProjFormCtrl">
  <div class="col-lg-12">
    <h1>Edit project
    </h1>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> {{project_name}} details</h3>
        <div class="up-buttons-wrapper">
          <button id="buttonBack" type="button" ng-click="goBack()" class="btn btn-default btn-sm">
            <i class="fa fa-arrow-up"></i>
          </button>
        </div>
      </div>
      <div class="alert alert-dismissable alert-danger" ng-show="hasError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> {{message}}
      </div>
      <div class="alert alert-dismissable alert-success" ng-show="hasInfo">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> {{message}}
      </div>
      <div class="panel-body">
        <form ng-submit="editProject()">

          <div id="name-group" class="form-group">
            <label>Project name</label>
            <input type="text" name="name" class="form-control" placeholder="Your project name" ng-model="formData.project_name" disabled>
            <span class="help-block"></span>
          </div>

          <div id="url-group" class="form-group">
            <label>Repository URL</label>
            <input type="text" name="url" class="form-control" placeholder="e.g. https://subversion.assembla.com/svn/mp-svntest/" ng-model="formData.project_url">
            <span class="help-block"></span>
          </div>

          <div id="username-group" class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="e.g. johnny-bravo" ng-model="formData.project_username">
            <span class="help-block"></span>
          </div>

          <div id="password-group" class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="" ng-model="formData.project_password">
            <span class="help-block"></span>
          </div>

          <div id="type-group" class="form-group">
            <label>Repository type</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosSVN" ng-model="formData.project_repo" value="svn" ng-init="formData.project_repo='svn'">
                SVN
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosGIT" ng-model="formData.project_repo" value="git">
                GIT
              </label>
            </div>
          </div>

          <div id="pattern-group" class="form-group">
            <label>Crone Pattern</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="optionsCheckbox" id="optionsCheckboxCrone" ng-model="formData.project_usecrone" ng-init="formData.project_usecrone=true">
                Update periodically
              </label>
            </div>
            <div id="cronepattern-group" class="form-group" ng-show="formData.project_usecrone==true">
              <input type="text" name="pattern" class="form-control" placeholder="* * * * *" ng-model="formData.project_pattern" ng-init="formData.project_pattern='* * * * *'">
              <span class="help-block"></span>
            </div>
          </div>

          <div id="strategy-group" class="form-group">
            <label>Checkout strategy</label>
            <div class="radio">
              <label>
                <input type="radio" name="strategyRadios" id="strategyRadiosClone" ng-model="formData.project_strategy" value="clone" ng-init="formData.project_strategy='clone'">
                Clone
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="strategyRadios" id="strategyRadiosUpdate" ng-model="formData.project_strategy" value="pull">
                Update
              </label>
            </div>
          </div>

          <div id="dependencies-group" class="form-group">
            <label>Project Dependency</label>
            <select class="form-control" ng-model="formData.project_dependencies" multiple ng-options="proj.project_name as proj.project_name for proj in formData.projects">
            </select>
            <span class="help-block"></span>
          </div>

          <div id="notification-group" class="form-group">
            <label>Notify Users On Failure</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsCheckbox" id="optionsCheckboxNotify1" ng-model="formData.project_notify" value="none">
                None
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsCheckbox" id="optionsCheckboxNotify2" ng-model="formData.project_notify" value="all" ng-init="formData.project_notify='all'">
                All Users
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsCheckbox" id="optionsCheckboxNotify3" ng-model="formData.project_notify" value="repoUsers">
                Users from Repository
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsCheckbox" id="optionsCheckboxNotify4" ng-model="formData.project_notify" value ="assigned">
                Selected Users
              </label>
            </div>
            <select class="form-control" ng-model="formData.assigned_users" multiple ng-options="user.user_email as user.user_email for user in formData.users" ng-show="formData.project_notify=='assigned'">
            </select>
            <span class="help-block"></span>
          </div>

          <div id="message-group" class="form-group">
            <label>Notification Email Title</label>
            <input type="text" name="title" class="form-control" placeholder="default: 'AgrippaCI: <project_name> - build failed!'" ng-model="formData.project_title">
            <span class="help-block"></span>
            <label>Notification Email Message</label>
            <textarea  rows="3" style="width: 507px; height: 149px;" class="form-control" placeholder="default: 'There has been a problem with project: <project_name>'" ng-model="formData.project_message">
            </textarea>
            <span class="help-block"></span>
          </div>

          <div id="script-group" class="form-group">

            <label>Build Scripts</label>
            <div ng-repeat="script in formData.scripts">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-file"></i> Script #{{script.scriptId}}
                    <div class="scripts-buttons-wrapper">
                      <button id="buttonToggle" type="button" ng-click="toggleScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-search"></i>
                      </button>
                      <button id="buttonUp" type="button" ng-click="moveUpScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-up"></i>
                      </button>
                      <button id="buttonDown" type="button" ng-click="moveDownScript($index)" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-down"></i>
                      </button>
                      <button id="buttonAdd" type="button" ng-click="addScript($index)" class="btn btn-success btn-sm">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button id="buttonRemove" type="button" ng-click="removeScript($index)" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </h3>
                </div>
                <div class="panel-body" ng-show="showScript($index)">
                  <label>Script code</label>
                  <textarea class="form-control" ng-model="script.scriptContent" rows="3" style="width: 507px; height: 149px;" >
                  </textarea>
                  <br>
                  <label>Output parser</label>
                  <div class="radio">
                    <label>
                      <input type="radio" id="optionsParser1" ng-model="script.parser" value="default">
                      Default Parser
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" id="optionsParser2" ng-model="script.parser" value="junit">
                      JUnit Parser
                    </label>
                  </div>
                  <br>
                  <label>Output Path</label>
                  <input type="text" class="form-control" placeholder="" ng-model="script.outputPath">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <br>
            <button type="button" ng-click="addScript(formData.scripts.length)" class="btn btn-success">
              <i class="fa fa-plus"></i> Add script
            </button>
          </div>
          <br>
          <div id="deploy-group" class="form-group">
            <label>Build Deployment</label>

            <div id="deploydetails-group" class="form-group">
              <div ng-repeat="deploy in formData.deploys">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file"></i> Deploy Server {{deploy.serverAddress !== '' ? "-" : ""}} {{deploy.serverAddress}}
                      <div class="scripts-buttons-wrapper">
                        <button id="buttonToggle2" type="button" ng-click="toggleDeploy($index)" class="btn btn-default btn-sm">
                          <i class="fa fa-search"></i>
                        </button>
                        <button id="buttonAdd2" type="button" ng-click="addDeploy($index)" class="btn btn-success btn-sm">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button id="buttonRemove2" type="button" ng-click="removeDeploy($index)" class="btn btn-danger btn-sm">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </h3>
                  </div>
                  <div class="panel-body" ng-show="showDeploy($index)">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" placeholder="" ng-model="deploy.serverUsername">
                    <span class="help-block"></span>

                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="" ng-model="deploy.serverPassword">
                    <span class="help-block"></span>

                    <label>Server Address</label>
                    <input type="text" name="address" class="form-control" placeholder="e.q. 192.54.2.11:3000" ng-model="deploy.serverAddress">
                    <span class="help-block"></span>

                    <label>File Path</label>
                    <input type="text" name="filepath" class="form-control" placeholder="" ng-model="deploy.deployFilePath">
                    <span class="help-block"></span>

                    <label>Script code</label>
                      <textarea class="form-control" ng-model="deploy.scriptContent" rows="3" style="width: 507px; height: 149px;" >
                      </textarea>
                  </div>
                </div>
              </div>

              <button type="button" ng-click="addDeploy(formData.deploys.length)" class="btn btn-success">
                <i class="fa fa-plus"></i> Add Server
              </button>
            </div>
          </div>
          <br>
          <div id="artifact-group" class="form-group">
            <label>Artifact Generation</label>

            <div id="artifactdetails-group" class="form-group">
              <div ng-repeat="artifact in formData.artifacts">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file"></i> Artifact {{artifact.artifactPath !== '' ? "-" : ""}} {{artifact.artifactPath}}
                      <div class="scripts-buttons-wrapper">
                        <button id="buttonToggle3" type="button" ng-click="toggleArtifact($index)" class="btn btn-default btn-sm">
                          <i class="fa fa-search"></i>
                        </button>
                        <button id="buttonAdd3" type="button" ng-click="addArtifact($index)" class="btn btn-success btn-sm">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button id="buttonRemove3" type="button" ng-click="removeArtifact($index)" class="btn btn-danger btn-sm">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </h3>
                  </div>
                  <div class="panel-body" ng-show="showArtifact($index)">
                    <input type="text" name="filepath" class="form-control" placeholder="" ng-model="artifact.artifactPath">
                    <span class="help-block"></span>
                  </div>
                </div>
              </div>

              <button type="button" ng-click="addArtifact(formData.artifacts.length)" class="btn btn-success">
                <i class="fa fa-plus"></i> Add Artifact
              </button>
            </div>
          </div>
          <br>
          <!-- SUBMIT BUTTON -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-save"></span> Save changes!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
