<div class="row" ng-controller="editProjFormCtrl">
  <div class="col-lg-12">
    <h1>Projects
      <small>Edit project </small>
    </h1>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> {{project_name}} </h3>
      </div>
      <div class="alert alert-dismissable alert-danger" ng-show="hasError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> {{message}}
      </div>
      <div class="alert alert-dismissable alert-success" ng-show="hasInfo">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> {{message}}
      </div>
      <div class="panel-body">
        <form ng-submit="editProject()">

          <div id="name-group" class="form-group">
            <label>Project name</label>
            <input type="text" name="name" class="form-control" placeholder="Your project name" ng-model="formData.project_name" disabled>
            <span class="help-block"></span>
          </div>

          <div id="url-group" class="form-group">
            <label>Repository URL</label>
            <input type="text" name="url" class="form-control" placeholder="e.g. https://subversion.assembla.com/svn/mp-svntest/" ng-model="formData.project_url">
            <span class="help-block"></span>
          </div>

          <div id="type-group" class="form-group">
            <label>Repository type</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosSVN" ng-model="formData.project_repo" value="svn" ng-init="formData.project_repo='svn'">
                SVN
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosGIT" ng-model="formData.project_repo" value="git">
                GIT
              </label>
            </div>
          </div>

          <div id="pattern-group" class="form-group">
            <label>Crone Pattern</label>
            <input type="text" name="pattern" class="form-control" placeholder="* * * * *" ng-model="formData.project_pattern" ng-init="formData.project_pattern='* * * * *'">
            <span class="help-block"></span>
          </div>

          <!-- SUBMIT BUTTON -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-save"></span> Save changes!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
