<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
  <div class="arrow"></div>
  <div class="popover-inner">
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content" ng-bind="content"></div>
    <div class="popover-content">
      <div class="row" style="width: 250px;">
        <div class="col-xs-6"><button class="btn-block btn btn-success" ng-click="confirm()">Confirm</button></div>
        <div class="col-xs-6"><button class="btn-block btn btn-danger" ng-click="cancel()">Cancel</button></div>
      </div>
    </div>
  </div>
</div>
